name: tennis-court-foxy

on: 
  push:
    branches: 
      - main
      - github-actions
  pull_request:
    branches:
      - main
      - github-actions
      
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: ros-tooling/setup-ros@v0.3
      - uses: ros-tooling/action-ros-ci@0.2.7
        with:
          target-ros2-distro: foxy
          package-name: tennis_court
